
/* CSS for everything contained within App (menu and slideshow-container) */


.app {
    display: flex;
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
    /* outline-style: dotted; */
}

.menu {
    padding: 5%;
    height: 100%;
    width: 20%;
    flex-grow: 0;
    /* background-color: red; */
}

.slideshow-container{
    padding-top: 5%;
    padding-right: 15%;
    width: 50%;
    flex-grow: 1;
    display:inline-block;
    /* background-color:green; */
}


/* Wrap under on mobile or window resize */
@media screen and (max-width: 800px) {
    .app {flex-wrap: wrap;}
    .slideshow-container
 {flex-basis: 100%;}
}