/* CSS for everything contained within App (menu and slideshow-container) */

.memories {
    display: flex;
    height: 100%;
    width: 100%;
}

.menu {
    padding: 5%;
    height: 100%;
    width: 25%;
    width: 20%;
    flex-grow: 0;
}

.memories-container {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 15%;
    width: 50%;
    flex-grow: 1;
}

/* Wrap under on mobile or window resize */

@media screen and (max-width: 1200px) {
    .app {
        flex-wrap: wrap;
    }
    .memories-container {
        flex-basis: 100%;
    }
}